﻿@model IEnumerable<WebAppEF.Models.UserModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>ShowData</h1>
</div>
<body class="container">

    <div>
        <a class="btn-success" asp-action="Create">Create New</a>  &nbsp;
        @*<form asp-controller="UserModels" asp-action="Search">
            <p>
                <input type="text" class="input100" name="SearchString">
                <input type="submit" class="btn-link" value="Filter" />
            </p>
        </form>*@

    

        @using (Html.BeginForm("Index", "UserModels", FormMethod.Get))
        {
            <input class="input100" type="text" name="searchstring" placeholder="search" autocomplete="off" autofocus>
        }
       

    </div>

    <br />
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Username)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn-warning">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn-info">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn-danger">Delete</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>



